<h1>Vinci's Pizza, Napier, Hawke's Bay</h1>
<main class="parallax-container">
	<section class="parallax">
	    <section class="hero-image-parallax hero-image">
		    <img class="logo-image" src="~/images/hero-logo2.png">
		    <div class="scroll-down-arrow"></div>
	    </section>

	    <section class="foreground menu-container container foreground ">
		    <div class="menu">
			    <h2 class="header"><img src="~/images/pizza-text.png"></h2>
			    <ul class="pizza items">
				    <li class="price-header">Slice / 18" whole</li>
				            
                    <li class="pizza-name">Margherita <span class="prices">$5 / $26</span></li>
				    <li class="ingredients">Tomato, Mozzerella, Basil, Parmesan</li>
				            
                    <li class="pizza-name">Mortadella<span class="prices">$6 / $29</span></li>
                    <li class="ingredients">Tomato, Mozzarella, Mortadella Salami, Parmesan</li>
				
                    <li class="pizza-name">Meatball<span class="prices">$6 / $29</span></li>
                    <li class="ingredients">Tomato, Mozzarella, Meatball, Parmesan</li>
                            
                    <li class="pizza-name">Capricciosa<span class="prices">$6 / $30</span></li>
                    <li class="ingredients">Tomato, Mozzarella, Artichoke, <br />Olive, Smoked Guanciale, Parmesan</li>
				
                    <li class="pizza-name">Mushroom<span class="prices">$6 / $30</span></li>
                    <li class="ingredients">Mushroom Cream with Rosemary & Red Onion, <br />Mozzarella, Mushroom, Caper, Parmesan</li>

                    <li class="pizza-name">No Cheese, No Problems<span class="prices">$5 / $26</span></li>
                    <li class="ingredients">Any pizza without the cheese</li>
                            
                    <li>Half / Half<span class="prices">$30</span></li>
			    </ul>

			    <h2 class="header extras">Extras</h2>
			    <ul class="items extras">
				    <li>
                        <span class="name">Freebies -</span>
                        <span class="description">Oregano, Hot Sauce</span></li>	
                    
                    <li>
                        <span class="name">$2 -</span>
                        <span class="description">Basil, Mushroom, Artichoke, Olive,Anchovy, Caper</span>
                    </li>
				    
                    <li>
                        <span class="name">$3 -</span>
                        <span class="description">Meatball, Mortadella Salami, Smoked Guanciale</span>
                    </li>
			    </ul>

                <div>
                    All of our meats are local and true free range. Veggies and herbs are sourced locally where possible.
                </div>

			    <h2 class="header extras">Contact</h2>
			    <div>29a Hastings St, Napier</div>
			    <div>Ph: 06 650 7779</div>
		     </div>

	    </section>
	</section>
</main>